<footer class="container-fluid">

    <div id="footer" class="navbar navbar-expand-sm navbar-dark fixed-bottom bg-dark">
        <div class="container-fluid">
            <div class="navbar-text pull-left">

                <a>Copyright Shine Thalivar :-)  {{currentYear}}. All rights reserved.</a>
            </div>
            <div class="navbar-text pull-center">

                <a>Memories potrayed</a>
            </div>


            <div class="navbar-text pull-right">


                <a id="social_media" href="#"><i class="fa fa-facebook"></i>  </a>
                <a id="social_media" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a id="social_media" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a id="social_media" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></i></a>
        </div>
    </div>
</div>
</footer>