<!doctype html>
<html>
<head>

    <title>Creative event organizers</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="./css/ceo_chennai.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>


</head>
<body style='padding:0;margn:0;background:black;'>
<div class="re" style="margin-bottom: 10vw">
<img class="img-fluid card-img ab" src="img/Event-BG.jpg"/>
<div class="re container" style="top:3vw;">
<div class="re" style="text-align:center">
<div class=" container curved_box" style="background:white">
    <table>
        <tr>
            <td>
                <img id="banner_top" class="img-fluid " src="img/Events-Chennai-Banner.gif"/>
            </td>
            <td>
                <img class="img-thumbnail " src="img/2home-icon.gif"/>
            </td>
            <td>
                <img class="img-thumbnail " src="img/2contact-icon.gif"/>
            </td>
        </tr>
    </table>

    <nav class="navbar navbar-expand-sm navbar-dark  bg-dark" style="margin:0; padding:0;">
        <div class="container-fluid">
            <button class="navbar-toggler btn-success pull-right" type="button " data-toggle="collapse"
                    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">First Button <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Second Button</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Third Button</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Fourth Button</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-header">Header </a>
                            <a class="dropdown-item" href="#">1st </a>
                            <a class="dropdown-item" href="#">Second</a>
                            <a class="dropdown-item" href="#">Third</a>
                            <a class="dropdown-item" href="#">Fourth</a>
                            <a class="dropdown-item" href="#">Fifth</a>
                            <a class="dropdown-item" href="#">Sixth</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="row">
        <div class="col-md-9">
            <p>Welcome to <strong>Creative Event Organizers a Professional Organizers &amp; Leaders In Creative
                Events</strong>. We are event managers from <strong>Chennai, India</strong>. We plan well and organize
                any events small or big , indoor or outdoor party to a ceremony, from a House Party to a corporate
                event. <strong>Our mission is to become the leader in the event management service industry and to give
                    best quality service at affordable rates to create satisfied customers as our asset. </strong>Our
                basic idea is to help you to be free from all kinds of tensions like managing different vendors &amp;
                contractors at the same time. When you are most wanted by your dear ones or team, then you may be
                mentally preoccupied by worrying about the entire program. Quite often many small details may be ignored
                or forgotten that cause in last minutes running. <br>
                <br>
                <strong>Most of the events come once in our life so they give us very precious memories to cherish for a
                    life time. Let us make them incredible.! </strong><br>
                <br>
                Give us an opportunity to help you to experience the most precious moments with your family &amp;
                friends and leave the hard part to us. We plan &amp; execute well as you have imagined. This is the
                style how we work. <strong>We understand your budget limitations and your high expectations</strong>. We
                strive to deliver the best pricing and contract terms around, and we cover each detail, from advertising
                and public relations to sound and video. No matter what special event you envision, the event management
                company team at our organization can certainly deliver!</p>
            <p><strong>Infact we consider your event as our own ....! </strong></p>
        </div>
        <div class="col-md-3">
            <img class="img-thumbnail" src="img/Bithday_party_Organizers.gif">
            <img class="img-thumbnail" src="img/Corporate_Funday.gif">
            <img class="img-thumbnail" src="img/BALOONANIM-.gif ">

        </div>
    </div>


</div>
</div></div></div>
{{>footer}}
<script>
    $(document).ready(() => {
        $('#banner_top').on("mouseenter", () => {
            $('#banner_top').attr("src", "img/2-banner.gif");
        });
        $('#banner_top').on("mouseleave", () => {
            $('#banner_top').attr("src", "img/Events-Chennai-Banner.gif");
        });
    });

</script>
</body>
</html>