<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <style>
        ul li a:after{
            content: '';
            display: block;
            height: 5px;
            width: 0;
            margin: 0 .5rem;
            -webkit-transition: width .3s ease-out, background-color .3s ease-out;
            transition: width .3s ease-out, background-color .3s ease-out;
        }
        ul li a:hover:after{

            width: 100%;
            background: #f3d350;
        }
    </style>
</head>
<body>
{{>header}}
<h1 style="text-align: center">Welcome to {{capitalise site_name}}</h1>
<hr/>
<p>This is a paragraph</p>
{{>footer}}
</body>
</html>